.all_bgcolor{
    background-color: rgba(0, 0, 0, 0.796);
    /*  rgba(0, 0, 0, 0.796) */
    /* rgb(218, 217, 217) */
}
/*導覽列*/
#navtop{
    
    position: fixed;
	width: 100%;
}
body{
    margin: 0;
}
